<%# Config %>
<% contact = data.navigation.content %>
<%# Partial %>
<nav class="mw60 center pv1 pv2-ns ph1 ph2-m ph0-l bg-white">
  <a class="lato f0_75 fw7 ls0_15 ttu blue no-underline" href="/">Back to Site</a>
</nav>
