<%# Config %>
<% contact = data.contact.content %>
<%# Partial %>
<footer class="mw8-l center mt8 pb1 pb2-m">
  <div class="mw38-ns center cf ph1 ph0-ns">
    <ul class="ma0 pa0 ph1 ph0-ns overflow-x-auto overflow-scrolling scrollbar-dn nowrap list">
      <%# Links %>
      <%# Variables %>
      <% cll = contact.length - 1 %>
      <% contact.each_with_index do |link, l| %>
        <li class="dib">
          <a class="dib <% if l != cll %>mr2<% end %> lato f0_75 b tracked ttu gray link hover-dark-gray" href="<%= link.source %>" target="_blank">
            <%= link.title %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</footer>
