<%# Config %>
<% contact = data.navigation %>
<%# Partial %>
<nav class="fixed top-0 top-2-l right-0 right-2-l z-999 w-100 w-auto-l bg-white tl tr-l shadow-0 shadow-none-l">
  <ul class="ma0 pa0 ph1 ph2-m ph0-l overflow-x-auto overflow-scrolling overflow-visible-l scrollbar-dn nowrap">
    <%# Config %>
    <% sl = contact.length - 1 %>
    <%# End %>
    <% contact.each_with_index do |section, s| %>
      <li class="js-nav translateX-0 duration-0_25 property-transform function-cubic dib db-l ma0 pa0 pv0_5 pv0-l <% if s != sl %>pr2 pr0-l<% end %>"><a class="dib pv1 pv0-l <% if s != sl %>pb1-l<% end %> lato f0_75 fw7 ls0_15 ttu gray link hover-dark-gray" href="<%= section.path %>" <% if section.target %>target="_blank"<% end %>><%= section.title %></a></li>
    <% end %>
  </ul>
</nav>
