<%# Config %>
<% contact = data.navigation.content %>
<%# Partial %>
<nav class="mw60 center pv1 pv2-ns ph1 ph0-ns bg-white tc-ns">
  <ul class="ma0 pa0 overflow-x-auto overflow-scrolling scrollbar-dn nowrap list">
    <%# Links %>
    <%# Variables %>
    <% cll = contact.length - 1 %>
    <% contact.each_with_index do |link, l| %>
      <li class="dib">
        <a class="<% if l != cll %>mr2<% end %> lato f0_75 fw7 tracked ttu <%= link.color %> no-underline" href="<%= link.source %>" <% if link.target %>target="_blank"<% end %>>
          <%= link.title %>
        </a>
      </li>
    <% end %>
  </ul>
</nav>
