<%# Config %>
<% contact = data.navigation.content %>
<%# Partial %>
<nav class="pv1 pv2-ns ph1 ph2-ns bg-white">
  <a class="js-nav lato f0_75 fw7 tracked ttu dark-gray no-underline" href="/">
    <span class="js-arrow property-transform duration-0_25 function-cubic translateX-0 dib mr0_5">←</span> Home
  </a>
</nav>
