<%# Config %>
<% il = content.bullet.length - 1 %>
<%# End %>
<div class="mw45 center ph1 ph2-m ph0-l">
  <% content.bullet.each_with_index do |item, i| %>
    <div class="<% if i != il %>mb0_5<% else %>mb4<% end %>">
      <ul class="ma0 pl2 lst-circle">
        <li class="<% if i != il %>mb1<% end %>"><p class="ma0 merriweather f1_125 fw3 lh1_75 dark-gray"><%= item %></p></li>
      </ul>
    </div>
  <% end %>
</div>
