<div class="mw45 center <% if next_type && next_type === "media" %>mb4<% elsif next_type && next_type == "block" %>mb2<% elsif c != cl %>mb1<% else %>mb4<% end %> ph1 ph2-m ph0-l">
  <div class="pa1 pa2-ns bg-almost-white ba b--light-gray">
    <p class="ma0 merriweather f1_125 fw3 dark-gray lh2"><%= content.comment %></p>
  </div>
</div>
