<div class="mw45 center ph1 ph2-m ph0-l">
  <p class="ma0 <% if next_type && next_type === "media" || next_type === "comment" || next_type === "carrusel" %>mb4<% elsif next_type && next_type === "block" || next_type === "list" %>mb2<% elsif c != cl %>mb1<% else %>mb4<% end %> merriweather f1_125 fw3 dark-gray lh2"><%= content.text %></p>
</div>
