---
title: Claudio Vallejo, Product Designer
layout: main
meta_title: Claudio Vallejo, Product Designer
description: DESCRIPTION PENDING
---
<%# Config %>
<% about = data.about %>
<%# Content %>
<main class="cf">
  <div class="mw38 center mt4-ns">
    <div class="fl w-100">
      <a class="db ba b--light-gray no-underline" href="/about">
        <table class="w-100" style="border-spacing: 0;">
          <tbody>
            <tr>
              <td class="tc w-20 w-30-ns cover" style="background-image: url('/images/about/portrait-square@1x.jpg');"></td>
              <td class="w-80 w-70-ns pa2 bl b--light-gray">
                <p class="ma0 mb1 merriweather f1 dark-gray lh1_75">Hi there I'm Claudio, a product designer focusing on design systems and business tools freelancing from Mexico.</p>
                <h3 class="ma0 lato f0_75 fw7 tracked ttu silver">Read More</h3>
              </td>
            </tr>
          </tbody>
        </table>
      </a>
    </div>
  </div>
</main>
